name: Deploy React App to GitHub Pages

on:
  push:
    branches: [ "main" ]

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'

      - name: Install dependencies
        run: npm install || npm ci  

      - name: Install React Router
        run: npm install react-router-dom

      - name: Install sonner
        run: npm install sonner@2.0.3
        
      - name: Install radix-ui dependencies
        # run: npm install @radix-ui
        run: npm install @radix-ui/react-tabs
      - run: npm install @radix-ui/react-accordion@1.2.3
      -  run: npm install @radix-ui/react-alert-dialog@1.1.6
      -  run: npm install @radix-ui/react-aspect-ratio@1.1.2
      -  run: npm install @radix-ui/react-avatar@1.1.3
      -  run: npm install @radix-ui/react-slot@1.1.2
      -  run: npm install react-day-picker@8.10.1
      -  run: npm install embla-carousel-react@8.6.0
      -  run: npm install recharts@2.15.2
      -  run: npm install @radix-ui/react-checkbox@1.1.4
      -  run: npm install @radix-ui/react-collapsible@1.1.3
      -  run: npm install cmdk@1.1.1
      -  run: npm install @radix-ui/react-context-menu@2.2.6
      -  run: npm install @radix-ui/react-dialog@1.1.6
      -  run: npm install vaul@1.1.2
      -  run: npm install @radix-ui/react-dropdown-menu@2.1.6
      -  run: npm install @radix-ui/react-label@2.1.2
      -  run: npm install react-hook-form@7.55.0
      -  run: npm install @radix-ui/react-hover-card@1.1.6
      -  run: npm install input-otp@1.4.2
      -  run: npm install @radix-ui/react-menubar@1.1.6
      -  run: npm install @radix-ui/react-navigation-menu@1.2.5
      -  run: npm install @radix-ui/react-popover@1.1.6
      -  run: npm install @radix-ui/react-progress@1.1.2
      -  run: npm install @radix-ui/react-radio-group@1.2.3
      -  run: npm install react-resizable-panels@2.1.7
      -  run: npm install @radix-ui/react-scroll-area@1.2.3
      -  run: npm install @radix-ui/react-select@2.1.6
      -  run: npm install @radix-ui/react-separator@1.1.2
      -  run: npm install @radix-ui/react-slider@1.2.3
      -  run: npm install @radix-ui/react-switch@1.1.3
      -  run: npm install @radix-ui/react-toggle-group@1.1.2
      -  run: npm install @radix-ui/react-toggle@1.1.2
      -  run: npm install @radix-ui/react-tooltip@1.1.8

      - name : Install class-variance-authority
        run: npm install class-variance-authority@0.7.1

      - name: Install React Icons
        run: npm install react-icons

      - name: Install Lucide Icons
        run: npm install lucide-react

      - name: Build project
        run: npm run build

      - name: Upload build artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: build/

  deploy:
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
